# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Generated data and figures
data/*.csv
data/raw/*.xvg
results/*.csv
results/*.png
results/*.pdf

# Large MD files
*.xtc
*.trr
*.tpr
*.gro
*.top
*.itp
*.edr
*.cpt
*.log
